.questions {
    height: fit-content;
    border-radius: 5px ;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-bottom: 1px solid rgba(127,128,150,.5);
    margin: 20px;
}


.answersPart {
    overflow: hidden;
    height: 0;
    transition: height 0.3s linear;
}

.answersPartDevelop {
    overflow: hidden;
    height: auto;
    transition: height 0.3s linear;
}

.answersPart2 {
    overflow: hidden;
    height: 0;
    transition: height 0.3s linear;
}

.answersPartDevelop2 {
    overflow: hidden;
    height: auto;
    width: 100%;
    transition: height 0.3s linear;
}

.answersBlock {
    display: flex;
    width: 100%;
    vertical-align:middle;
}

.mainAnswer {
    height: fit-content;
    vertical-align:middle;
    margin: 10px 20px;
    height: fit-content;
    border-radius: 5px ;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 6px 0px;
    border-bottom: 1px solid rgba(127,128,150,.5);
}

.answers {
    width: 100%;
    max-width: 100%;
}

.flecheContainer{
    margin-left: 30px;
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    height: auto;
    flex-direction: row;
}

.fleche{
    opacity: .1;
    padding: 10px;
    position: relative;
    width: 30px;
    height: 30px;
}


/* HEADER */

.header{
    text-align: left;
    padding: 10px;
    display: flex;
    border-bottom: 1px solid rgba(127,128,150,.2);
    justify-content: center;
}
.header div {
    height:30px;
    vertical-align:middle;
    line-height: 30px;
}

.question {
    flex: 8;
    font-size: 14px;
    font-weight: bold;
}

.autor {
    text-align: right;
    flex: auto;
    font-size: 12px;
}

.autor span {
    padding: 2px;
    border-radius: 5px ;
    background-color: rgba(255, 0, 0, 0.2);
}

.date {
    text-align: right;
    flex: auto;
    font-size: 12px;
}

/* BODY */

.body {
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* FOOTER */

.footer {
    padding: 10px;
    display: flex;
    border-top: 1px solid rgba(127,128,150,.2);
    justify-content: center;
}

.answerred {
    text-align: left;
    flex: 1;
    font-size: 12px;
}

.answerred:hover {
    color: blue;
    cursor: pointer;
}

.likes {
    align-items: end;
    flex: 1;
    font-size: 12px;
    display: flex;
    justify-content: right;
    vertical-align:middle;
}

.etoileContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    flex-direction: row;
}

.etoile{
    cursor: pointer;
    opacity: .8;
    margin-left: 5px;
    position: relative;
    width: 13px;
    height: 13px;
}
